## Dependencies!

In [ ]:
# add src dir to sys.path
import sys
sys.path.append('../src')
# sys.path.append('../data/raw')

In [ ]:
print(sys.path)

['/nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/notebooks', '/opt/python/3.9.15/lib/python39.zip', '/opt/python/3.9.15/lib/python3.9', '/opt/python/3.9.15/lib/python3.9/lib-dynload', '', '/home/jkyee/.local/lib/python3.9/site-packages', '/opt/python/3.9.15/lib/python3.9/site-packages', '../src']

In [ ]:
# import dependencies
import pandas as pd
import pyreadstat
from dataset import process_dataset, imputation_v1

2024-09-03 18:55:45,800 - config - INFO - PROJ_ROOT path is: /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project

## Process SOE dataset to obtain website filter with TRUE labels ('B', 'C')

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
check = process_dataset('soe22_dc.sas7bdat', 'soe2022_labelled.csv')

2024-09-03 18:26:53,414 - config - INFO - Loading dataset from /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/data/raw/soe22_dc.sas7bdat
2024-09-03 18:26:53,593 - config - INFO - Saving processed dataset to /nas-p1/dosfs/BSD/FLAD/End_User/JKYEE/IE2023/IE_project/data/processed/soe2022_labelled.csv

In [ ]:
check.head()

,UEN,ONLINE_PRESENCE_IND,CORPORATE_URL_IND,ECOM_REV,ECOM_REV_IND,TRUE_IE
0,00119300K,1.0,0.0,0.0,0.0,B
2,00277200X,1.0,1.0,250000.0,1.0,C
5,02484100E,1.0,1.0,0.0,0.0,B
7,03317900W,1.0,1.0,180000.0,1.0,C
8,03442400L,1.0,0.0,5000.0,1.0,C

In [ ]:
len(check)

2422

In [ ]:
check['TRUE_IE'].value_counts(normalize=True)

TRUE_IE
B    0.626342
C    0.373658
Name: proportion, dtype: float64

## Manual website imputation with SOE data

In [5]:
df2022, df2023 = imputation_v1('ie2022_imputed.csv', 'ie2023_imputed.csv')
print(df2022.head())
print(df2023.head())

   IE_IND  Base_IND  Remarks SOURCE IMPUTE_TYPE FINAL_IE        UEN  \
0       0         1      NaN    NaN         NaN        A  00016800M
1       0         1      NaN    NaN         NaN        A  00020100J
2       1         1      NaN   GMAP         NaN       C1  00022500B
3       1         1      NaN  ORBIS         NaN       B1  00027700B
4       0         1      NaN    NaN         NaN        A  00045500L

                   CLUSTER_DEFN  OR_CAT             EMP_SIZE  TOT_EMP  REF_YR  \
0                  11 Wholesale  <=1mil  01. Employees <= 10      1.0    2022
1  21 Other Services Industries  <=1mil  01. Employees <= 10      2.0    2022
2  21 Other Services Industries  <=1mil          Missing EMP      NaN    2022
3                  11 Wholesale  <=1mil  01. Employees <= 10      2.0    2022
4                  11 Wholesale  <=1mil          Missing EMP      NaN    2022

   EA_IND   FLAD_OR OWNERSHIP_IND  TOPLINE_IND  New_ENTP_IND    Age_Band  \
0     1.0  182227.0       1.LOCAL            1           NaN  > 30 Years
1     1.0  226970.0       1.LOCAL            1           NaN  > 30 Years
2     1.0   70400.0       1.LOCAL            1           NaN  > 30 Years
3     1.0  479282.0       1.LOCAL            1           NaN  > 30 Years
4     1.0  602854.0       1.LOCAL            1           NaN  > 30 Years

   NSME_IND
0         0
1         0
2         0
3         0
4         0
   IE_IND         UEN  REF_YR            CLUSTER_DEFN            OR_CAT  \
0       1  199601595D    2023            11 Wholesale      Above 100mil
1       1  201017488D    2023  17 Finance & Insurance      Above 100mil
2       1  198903166R    2023            11 Wholesale      Above 100mil
3       1  199904785Z    2023  17 Finance & Insurance  10mil -<= 100mil
4       1  197401143C    2023  17 Finance & Insurance      Above 100mil

   NSME_IND           Age_Band FINAL_IE SOURCE IE_compare  TOPLINE_IND
0         0  20 to <= 30 Years        B  ORBIS    website            1
1         0  10 to <= 20 Years        B  ORBIS    website            1
2         0         > 30 Years        C  ORBIS    website            1
3         0  20 to <= 30 Years        B  ORBIS    website            1
4         0         > 30 Years        C  ORBIS    website            1

In [ ]:
# check functionality of imputation script. 
...

## Merge in keywords to Train & Test sets
- **Training set:** SOE dataset
- **Test/Inference set:** IE2022, IE2023 datasets